.div-hout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 85px;
  padding-bottom: 56px;
}

.div-hout-img {
  display: flex;
  flex-direction: row;

}

.p-hout {
  width: 155px;
  font-size: 12px;
  line-height: 22px;
  
}

.div-hout-1 {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  gap: 120px;
}

.h1-hout {
  font-size: 18px;
  font-weight: 900;
}
